<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Suppliers</title>
</head>
<body>
     <div layout:fragment="content">
         <div class="container mt-3">
         <div class="card">
             <div class="card-header">Suppliers List</div>
             <div class="card-body">
                 <table class="table">
                     <tr>
                         <th>ID</th><th>Name</th><th>Email</th>
                     </tr>
                      <tr th:each="sup:${supplier}">
                         <td th:text="${sup.id}">--</td>
                         <td th:text="${sup.name}">--</td>
                         <td th:text="${sup.email}">--</td>
                     </tr>
                 </table>
             </div>
             </div>
         </div>
     </div>
</body>
</html>
